<div id="content">
  <div id="first-bg" class="hero-bg full-height" data-stellar-background-ratio="0.03">
    <div class="container caption-container"> 
      <div class="caption-content">
        <p class="text-title">XIAOSHU</p>
        <div class="subtitle-container">
          <p class="text-subtitle"><i>Poverty never hampers education</i></p>
        </div>
      </div>
    </div>
    <div id="scrolldown"><%= image_tag("chevron.png" ,:id => "chevron", :class => "animated", :alt => "XiaoShu") %></div>
  </div>
  <div id="intro-section" class="content-section container">
    <%= image_tag("xiaoshulogo.png" ,:id => "large-logo", :alt => "XiaoShu") %>
    <p id="text-intro">XiaoShu is a platform providing you a chance to sponsor children in proverty continuing their education in China's rural areas.</p>
    <%=link_to 'READ OUR STORY AND VISION', 'about', :class => "btn btn-primary btn-lg"%>
  </div>
  <div id="second-bg" class="active-bg" data-stellar-background-ratio="0.03">
    <div id="second-caption" class="caption-container container"> 
      <div id="second-caption-content" class="col-md-7 col-xs-12">
        <p class="text-impression"><i>"XiaoShu made my life more meaningful by helping XXX achieve her college dream."<br>-XiaoShu Sponsor: YYY</i></p>
      </div>
    </div>
  </div>
  <div id="program-section" class="content-section container">
    <div class="program-char-container col-md-4 col-xs-12">
      <%= image_tag("icon1.png",:id => "program-illu-1", :class => 'program-illu') %>
      <p class="program-char-title">1 to 1 Sponsorship</p>
      <p class="program-char">Matched 1 to 1 with a listed child.<br> Knowing exactly who you are helping.</p>
    </div>
    <div class="program-char-container col-md-4 col-xs-12">
      <%= image_tag("Picture4.png",:id => "program-illu-2", :class => 'program-illu') %>
      <p class="program-char-title">Direct Connection</p>
      <p class="program-char">Connecting directly with children.<br> Knowing where your money is going.</p>
    </div>
    <div class="program-char-container col-md-4 col-xs-12">
      <%= image_tag("Picture5.png",:id => "program-illu-3", :class => 'program-illu') %>
      <p class="program-char-title">More than a Sponsor</p>
      <p class="program-char">Building deep connection with children.<br> Providing care and mentorship.</p>
    </div>
    <%=link_to 'KNOW OUR SPONSORSHIP PROGRAM', 'program', :class => "btn btn-primary btn-lg"%>
  </div>
  <div id="third-bg" class="active-bg" data-stellar-background-ratio="0.03">
    <div id="third-caption" class="caption-container container"> 
      <div id="third-caption-content" class="col-lg-7 col-md-9 col-sm-12 col-xs-12">
        <p class="text-gallery">Photos never lie. We are doing it!</p>
      </div>
    </div>
  </div>
  <div id="gallery-section" class="content-section container">
    <div id="gallery-photo-container" class="col-lg-11 col-xs-12">
      <% for i in 1..15 %>
        <div class="gallery-photo" image="image<%= i.to_s %>").jpg"></div>
        <%= image_tag("xiaoshugallery/image"+i.to_s+'.jpg',:id => "image"+i.to_s, :class => 'hidden gallery-img') %>
      <% end %>
    </div>
    <div class="col-xs-12">
      <%=link_to 'BECOME A SPONSOR NOW', 'join', :id => 'btn-become-sponsor', :class => "btn btn-primary btn-lg"%>
    </div>
  </div>
</div>